<div class="email">
  <h4 style="color: #B00100;"> По всем вопросам пишите на почту </h4>

  <%= mail_to 'sansashadev@gmail.com',
              'SanSashaDev@gmail.com',
  { style: 'color: black; text-decoration: none;' }
  %>

</div>

