<h2 style="color: #B00100; margin: 0 auto">all items</h2> <br/>


<% @items.each do |item| %>
  <ul>
    <li><%= link_to item.name, item_path(item) %></li>
    <li><%= item.price %></li>
    <li><%= item.description %></li>
    <li><%= button_to 'delete', item_path(item), method: :delete %></li>
  </ul>
<% end %>
